{% if page.comments != false %}
  {% case site.comments_provider %}
    {% when 'disqus' %}
      {% if site.disqus_username %}
        {% assign load_disqus = true %}
        <!-- Disqus Protection, see https://github.com/mzlogin/mzlogin.github.io/issues/2 -->
        {% if site.disqus_username == 'mzlogin' %}
          {% assign load_disqus = false %}
          {% if site.url contains 'mazhuang.org' %}
            {% assign load_disqus = true %}
          {% endif %}
        {% endif %}
        {% if load_disqus %}
          <div id="disqus_thread"></div>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
          <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
          <script>
            var gitalk = new Gitalk({
              id: '{{ page.url | truncate: 50, '' }}',
              clientID: 'd311bbed6f7a1e4156e2',
              clientSecret: '6974eb92d37934eaac35fa4d31134950bfa45329',
              repo: 'blog-comments',
              owner: 'SoyJuice',
              admin: ['SoyJuice'],
              labels: ['gitment'],
              perPage: 50,
            })
            gitalk.render('disqus_thread')
          </script>
        {% endif %}
        {% if site.lazy_load_duoshuo and site.duoshuo_username %}
        <a href="#" class="show_duoshuo_comment" onclick="return false;" style="color:rgba(30,55,70,.4);font-size:0.75em;">想留言却没看到评论框？点这里。</a>
        <!-- Duoshuo Comment BEGIN -->
        <!-- 多说评论框 BEGIN -->
        <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
        <!-- 多说评论框 END -->
        <!-- 多说公共JS代码 BEGIN (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ site.duoshuo_username }}"};
        $(function() {
            $('.show_duoshuo_comment').on('click', function() {
                $(this).html('加载中...');
                var that = this;
                var src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                $.getScript(src, function(){$(that).remove()});
            })
        })
        </script>
        <!-- 多说公共JS代码 END -->
        <!-- Duoshuo Comment END -->
        {% endif %}
      {% endif %}
    {% when 'duoshuo' %}
      {% if site.duoshuo_username %}
      <!-- Duoshuo Comment BEGIN -->
      <!-- 多说评论框 BEGIN -->
      <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
      <!-- 多说评论框 END -->
      <!-- 多说公共JS代码 BEGIN (一个网页只需插入一次) -->
      <script type="text/javascript">
      var duoshuoQuery = {short_name:"{{ site.duoshuo_username }}"};
        (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
           || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
      <!-- 多说公共JS代码 END -->
      <!-- Duoshuo Comment END -->
      {% endif %}
  {% endcase %}
{% endif %}
